# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
backend/db.sqlite3

# Virtual environment
venv/
.venv/
env/
ENV/

# Logs
*.log

# OS metadata
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.local
